<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.settings.dotextras"
    android:sharedUserId="android.uid.system"
    tools:ignore="ProtectedPermissions, QueryAllPackagesPermission, ScopedStorage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MODIFY_THEME_OVERLAY" />
    <uses-permission android:name="android.permission.CHANGE_OVERLAY_PACKAGES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS" />

    <application
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:protectionLevel="signature"
        android:requiredForAllUsers="true"
        android:restoreAnyVersion="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".custom.utils.MaidService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <activity
            android:name=".BaseActivity"
            android:hardwareAccelerated="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".custom.sections.wallpaper.StandalonePreviewActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/manifest_wallpaper">
                <action android:name="android.intent.action.ATTACH_DATA" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".custom.sections.wallpaper.cropper.WallpaperCropperActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.sections.maintainers.MaintainersActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".custom.activities.FeatureActivityBase"
            android:configChanges="orientation"
            android:hardwareAccelerated="true" />
        <activity android:name=".custom.sections.wallpaper.WallpaperPickActivity" />
        <activity android:name=".custom.sections.wallpaper.WallpaperApplyActivity" />
        <activity android:name=".custom.activities.SectionActivity" />
        <activity
            android:name=".custom.sections.wallpaper.WallpapersActivity"
            android:hardwareAccelerated="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.wallpaper.preview"
                android:resource="@xml/wallpaper_picker_preview" />
        </activity>
        <activity android:name=".custom.sections.wallpaper.scheduling.WallpaperScheduleActivity" />
        <activity android:name=".custom.sections.wallpaper.scheduling.WallpaperScheduleMainActivity" />
    </application>

</manifest>